# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [34]:
import pandas as pd

data = pd.read_csv('data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [35]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [37]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [38]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [39]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [40]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [41]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [42]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [43]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [44]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [45]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [46]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [47]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [48]:
data.duplicated().sum()

71

In [49]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [50]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [51]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [52]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [53]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [54]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [55]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
# Подсчёт детей в каждом группе(1-есть кредитная задолженость, 0-нет кредитной задолженности)

Чтобы понять есть ли зависимость между количеством детей и возвратом кредита в срок узнаем в 
процентном соотношении в каждой группе отношение количество людей с кредитной задолженностью 
по отношению ко всей группе.А также проверим количество людей в кажой группе, чтобы убедиться,
что в группах много наблюдений, чтобы делать статисчески значимые выводы.

Для этого создадим сводную таблицу с количеством людей в каждой категории children и по наличию 
задолженности с помощью метода pivot_data.

В качестве строк таблицы выберем столбец children с помщью атрибута index, для столбцов выберем
столбец debt.

In [56]:
pivot_data = data.pivot_table(index = 'children', columns = ['debt'], values = 'education', aggfunc='count', fill_value = 0)
pivot_data

debt          0     1
children
0         13028  1063
1          4364   444
2          1858   194
3           303    27
4            37     4
5             9     0

Добваим столбец к таблице, где количество людей с кредитной задолженностью делятся 
на сумму количества людей с кредитной задолженностью и без кредитной задолженности.Потом это все
выражение умножается на 100, чтобы мы увидели результат в процентах.

In [57]:
pivot_data['rate'] = pivot_data[1]/(pivot_data[0]+pivot_data[1])*100
pivot_data

debt          0     1      rate
children
0         13028  1063  7.543822
1          4364   444  9.234609
2          1858   194  9.454191
3           303    27  8.181818
4            37     4  9.756098
5             9     0  0.000000

Мы видим, что без детей и с 5 детьми меньше всего задолженностей, но количественных данных мало в 
этой категории, что является не репрезентативными. Поэтому будем сравнивать категории с большим 
количеством данных, то есть категории людей без детей, с одним ребенком и двумя.
Больше всего задолженностей у людей с двумя детьми.

**Вывод: группы с 0,1 и 2 детьми самы репрезентативны. 
Все они имеют разный процент задолженностей.**

**Значит  зависимость между количеством детей и возвратом кредита в срок есть.**

**Так же мы видим, что с увеличением количества детей процент задолженностей растет.**

**Люди без детей имеют самый маленький процент задолженнойстей.**

**Люди с 2 детьми имеют самый большой процент задолженнойстей.**

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [58]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

Чтобы понять есть ли зависимость между количеством детей и возвратом кредита в срок узнаем в 
процентном соотношении в каждой группе отношение количество людей с кредитной задолженностью 
по отношению ко всей группе.А также проверим количество людей в кажой группе, чтобы убедиться,
что в группах много наблюдений, чтобы делать статисчески значимые выводы.

Для этого создадим сводную таблицу с количеством людей в каждой категории family_status и по наличию 
задолженности с помощью метода pivot_data.

В качестве строк таблицы выберем столбец family_status с помщью атрибута index, для столбцов выберем
столбец debt.

In [59]:
pivot_data = data.pivot_table(index = 'family_status', columns = ['debt'], values = 'education', aggfunc='count', fill_value = 0)
pivot_data

debt                       0    1
family_status
Не женат / не замужем   2523  273
в разводе               1105   84
вдовец / вдова           888   63
гражданский брак        3749  385
женат / замужем        11334  927

Добваим столбец к таблице, где количество людей с кредитной задолженностью делятся 
на сумму количества людей с кредитной задолженностью и без кредитной задолженности.Потом это все
выражение умножается на 100, чтобы мы увидели результат в процентах.

In [60]:
pivot_data['rate'] = pivot_data[1]/(pivot_data[0]+pivot_data[1])*100
pivot_data

debt                       0    1      rate
family_status
Не женат / не замужем   2523  273  9.763948
в разводе               1105   84  7.064760
вдовец / вдова           888   63  6.624606
гражданский брак        3749  385  9.313014
женат / замужем        11334  927  7.560558

**Вывод:повышенный возврат кредита у вдовцов, 
на втором месте в разводе и женат/замужем 
и на третьем месте гражданский брак и не женат/не замужем.**

**Если обобщить категории по отношению к браку, можно сказать, что состоящие или состоявшие в браке заемщики реже допускают просрочки.**

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [61]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

Чтобы понять есть ли зависимость между количеством детей и возвратом кредита в срок узнаем в процентном соотношении в каждой группе отношение количество людей с кредитной задолженностью по отношению ко всей группе.А также проверим количество людей в кажой группе, чтобы убедиться, что в группах много наблюдений, чтобы делать статисчески значимые выводы.

Для этого создадим сводную таблицу с количеством людей в каждой категории total_income_category и по наличию задолженности с помощью метода pivot_data.

В качестве строк таблицы выберем столбец total_income_category с помщью атрибута index, для столбцов выберем столбец debt.

In [62]:
pivot_data = data.pivot_table(index = 'total_income_category', columns = ['debt'], values = 'education', aggfunc='count', fill_value = 0)
pivot_data

debt                       0     1
total_income_category
A                         23     2
B                       4660   354
C                      14568  1353
D                        328    21
E                         20     2

Добваим столбец к таблице, где количество людей с кредитной задолженностью делятся 
на сумму количества людей с кредитной задолженностью и без кредитной задолженности.Потом это все
выражение умножается на 100, чтобы мы увидели результат в процентах.

In [63]:
pivot_data['rate'] = pivot_data[1]/(pivot_data[0]+pivot_data[1])*100
pivot_data

debt                       0     1      rate
total_income_category
A                         23     2  8.000000
B                       4660   354  7.060231
C                      14568  1353  8.498210
D                        328    21  6.017192
E                         20     2  9.090909

Мы видим, что количественных данных мало в 
этой категориях A,D,E, что является не репрезентативными. Поэтому будем сравнивать категории с большим 
количеством данных, то есть категории B и C.

**Вывод: больше всего возвращают кредит в категории B, где зарплата 200 001–1 000 000руб,**

**меньше всего возвращают кредит в категории С, где зарплата 50 001–200 000руб.** 

**Чем больше зарплата,тем больше возвращают кредит.**

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [64]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

Чтобы понять есть ли зависимость между количеством детей и возвратом кредита в срок узнаем в процентном соотношении в каждой группе отношение количество людей с кредитной задолженностью по отношению ко всей группе.А также проверим количество людей в кажой группе, чтобы убедиться, что в группах много наблюдений, чтобы делать статисчески значимые выводы.

Для этого создадим сводную таблицу с количеством людей в каждой категории total_income_category и по наличию задолженности с помощью метода pivot_data.

В качестве строк таблицы выберем столбец purpose_category с помщью атрибута index, для столбцов выберем столбец debt.

In [65]:
pivot_data = data.pivot_table(index = 'purpose_category', columns = ['debt'], values = 'education', aggfunc='count', fill_value = 0)
pivot_data

debt                         0    1
purpose_category
операции с автомобилем    3879  400
операции с недвижимостью  9971  780
получение образования     3619  369
проведение свадьбы        2130  183

Добваим столбец к таблице, где количество людей с кредитной задолженностью делятся 
на сумму количества людей с кредитной задолженностью и без кредитной задолженности.Потом это все
выражение умножается на 100, чтобы мы увидели результат в процентах.

In [66]:
pivot_data['rate'] = pivot_data[1]/(pivot_data[0]+pivot_data[1])*100
pivot_data

debt                         0    1      rate
purpose_category
операции с автомобилем    3879  400  9.347978
операции с недвижимостью  9971  780  7.255139
получение образования     3619  369  9.252758
проведение свадьбы        2130  183  7.911803

**Вывод: больше всего возвращают кредит взятый на операции с недвижимостью и проведение свадеб а самыми проблемными выглядят автокредиты и кредиты на образование.**

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ: пропуски в данном лучае в столбце зарплата, могли получиться из-за того что, 
если банк собирал данные у клиентов, то клиенты могли намеренно не указывать данные, либо если банк собирал самостоятельно эти данные, то человек мог получать зарплату в другом банке.Так же пропуски в столбце количества дней на работе тоже могли люди не указать.
В общем случе, пропуски могли появиться из-за человеческого фактора или во время перегрузки файла из одного места в другое*

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:Потому,что если использовать среднее арифметическое, то при добавлении новых выдающихся данных, среднее будет увеличивать, а медианное останется таким же. Если удалять строки с выдащимися данными, то они могут повлиять на данные*

### Шаг 4: общий вывод.

Напишите ваш общий вывод.

Исследование надежности заемщиков началось с предобработки данных. 

Мы проверили и исправили соотвествие типов каждому столбцу, напрмер в столбце children 
не могли быть объекты типа odject.

Заменили пропуски в столбце с зарплатой total_income медианным значением.

Избавились от отрицательного значения количества дней трудового стажа в столбце days_employed с помощью метода abs().
Удалили строки с артефактами по столбцу children.

Сделали довали новые объединящие категории для зарплаты и целей взятия кредита.

Проверили зависимости между количеством детей,семейным положением,уровнем дохода, целей кредита и возвратом кредита в срок.


Какие зависимости мы смогли выявить:

-что с увеличением количества детей процент задолженностей растет;

- что состоящие или состоявшие в браке заемщики реже допускают просрочки, а гражданский брак и не женат/не замужем больше допускают просрочек;

-что чем больше зарплата,тем больше возвращают кредит;

-что больше всего возвращают кредит взятый на операции с недвижимостью и проведение свадеб, а самыми проблемными выглядят автокредиты и кредиты на образование.


Можно выделить портрет идеального заемщика:
Бездетный, когда-либо вступавший в брак, зарплата 200 001–1 000 000руб, кредит взятый на операции с недвижимостью и проведение свадеб.

Для примера можно представить:
Молодая пара, которая собирается взять кредит на свадьбу или на недвижимость, и при этом уже имеют высокую зарплату на работе.
Либо это уже взрослая пара, у которой дети уже выросли, и это их не первая свадьба,работают за высокую зарплату.

Портрет рискового заемщика:
от 2 детей, в гражданском браке или не женат/не замужем, зарплата меньше 50 000руб.,кредит взятый на автокредиты или на образование

Для примера можно представить:
Родитель 2 детей берет кредит на учебу для ребенка или автомобиль, с зарплатой меньше 50 000руб.


Рекомендациями по улучшению сбора данных и системы скоринга:

-если банк собирает данные на основе анкет на сайте, то предлагаем сделать ограничение на детей, количество дней трудового стажа,зарплату, ограничение сделать больше 0;

-можно объединять малочисленные группы людей: например не 3,4,5 детей и т.д., а одна группа >=3;

-сделать выдающися список целей на кредит  т.е. клиенту не нужно все вручную писать, а вбрать категорию из выпадающего списка.